
.md-article {}

.md-article img {
  background-color: hsl(0, 0%, 96%);
}

.md-paragraph {
  margin: 16px 0;
}

.md-code-block {
  color: white;
  background-color: hsl(300, 80%, 20%);
  padding: 8px;
  display: block;
}
