
.app-article {
    margin: 100px auto;
    width: 80%;
    max-width: 1400px;
    line-height: 2em;
}

.app-article pre {
    font-size: 14px;
    font-family: Menlo;
    background: rgb(240, 240, 240);
    padding: 0 20px;
    margin: 20px -20px;
}