
.app-layout {
    padding-top: 540px;
}

.app-layout .header {
    height: 800px;
    background-image: url('../../../images/cumulo.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.app-layout .header .logo {
    color: white;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-style: italic;
    padding: 0 2em 0 0.5em;
}

.app-layout .body {}

.app-layout .nav {}

.app-layout .nav > .page {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: Helvetica Neue;
    margin: 1em;
    cursor: pointer;
}

.app-layout .nav > .page.is-selected {
    text-decoration: underline;
}

.app-layout .content {}
